.shortSection {
    width: 20%;
    margin: 1%;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.shortSection p {
    color: black;
    border: 5px solid rgb(26, 151, 10);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border-radius: 10px 0 0 10px;
    font-weight: 800;
    text-transform: capitalize;
    outline-color: rgb(26, 151, 10);

}

.shortSection select {
    height: 60px;
    border: 5px solid rgb(26, 151, 10);
    border-radius: 0 10px 10px 0;
    background-color: rgb(26, 151, 10);
    color: white;
    font-size: 20px;
    font-weight: 600;
    outline-color: rgb(26, 151, 10);
    offset: black;
}