.singleCard {
    width: 70%;
    height: 230px;
    margin: 2% auto;
    box-shadow: 1px 1px 1px 3px gray;
    border: 1px solid black;
    padding: 2%;
    background-color: #404258;
    display: flex;
}

.imgBox {
    border: 5px solid white;
    height: 100%;
    width: 30%;
    margin-right: 15px;
    border-radius: 5px;
}

.imgBox img {
    height: 100%;
    width: 100%;
}


.infoBox {
    width: 60%;
    text-align: center;
    margin-top: 3%;

}

.authorName {
    background-color: rgb(72, 255, 0);
    font-size: 35px;
    padding: 5px;
    width: 80%;
    margin: 10px auto;
    border-radius: 15px 0 15px 0;
}

.authorPost {
    background-color: rgb(72, 255, 0);
    font-size: 20px;
    padding: 5px;
    width: 90%;
    margin: 2px auto;
    border-radius: 15px;
}

.authorCall {
    background-color: rgb(72, 255, 0);
    font-size: 20px;
    padding: 5px;
    width: 50%;
    margin: 2px auto;
    border-radius: 15px;
}

.authorEdu {
    background-color: rgb(72, 255, 0);
    font-size: 18px;
    padding: 5px;
    width: 80%;
    margin: 2px auto;
    border-radius: 15px;
}







.editBtn {
    width: 12%;
}

.editBtn button {
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}



/* update author info code  */

.updateinput {
    width: 90%;
    height: 40px;
    border-radius: 5px;
}

.updateLabel {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}


.updateAuthorbtn {
    width: 92%;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(49, 16, 80);
    color: white;
    cursor: pointer;
    transition: all .5s;
}

.updateAuthorbtn:hover {
    background-color: black;
    color: white;
    font-size: 22px;
}