.feesRecordHeader {
    display: grid;
    grid-template-columns: 12% 32% 16% 20% 12% 8%;
    background-color: #863A6F;
    width: 90%;
    margin: 0 auto;
}

.feesRecordHeader div {
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.monthSection {
    display: flex;
    justify-content: left;
    align-items: center;
}

.monthNameDesign {
    width: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 42px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid;
}