/* * {
    overflow-x: hidden;
} */

/* * {
    overflow-y: hidden;
} */

.layoutContainer {
    display: grid;
    grid-template-columns: 20% 80%;



}

/* .layoutContainer div {
    border: 2px solid black;


} */




.layoutContainerInsOne {
    height: 100vh;
    width: 100%;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #153462;
    overflow-y: scroll;

}

.category {
    position: fixed;
    top: 63px;
    left: 0;

    height: 90vh;
    background-color: #153462;
    overflow-y: scroll;
    /* padding: 10px 15px; */

    padding: 10px 35px 0 0;
}

#scrl::-webkit-scrollbar {
    width: 2px;

}

.layoutContainerInsTwo {
    box-shadow: 1px 1px 1px 1px gray;
    height: 91vh;
    overflow-y: scroll;
    background-color: #F0F2F5;

    padding-top: 5%;
}

/* heading part design  */
.heading {
    background-color: #153462;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.heading h2 {
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    margin: 10px;
    padding: 0 0 0 15px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merriweather', serif;
    font-weight: bold;

}


/* title part  */
.title {
    text-align: center;

    color: white;
    padding: 0 30px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}


/* logo desing  */

.imgcontainer {
    margin: 0 auto;
    text-align: center;
    height: 110px;
    width: 230px;
    background-color: white;
    border-radius: 50%;
    margin-top: 5px;
}

.imgcontainer img {
    height: 100%;
    width: 100%;
}

/* menu list design  */

.listedItem li {
    font-size: 18px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merriweather', serif;
    padding: 5px 15px;
    transition: all .5s;
    cursor: pointer;
}

.listedItem li:hover {
    background-color: #0f0836;
}

.listedItem {
    padding: 0 0 0 15px;
}

.icons {
    margin-right: 15px;
    color: white;


}