.firstCont {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 90%;
    margin: 3% auto;

}

.firstCont div {
    height: 80px;
    width: 95%;
}

.TsCountD {
    height: 100%;
    margin: 1%;
    border: 1px solid rgb(99, 192, 11);
    text-align: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 36px 2px rgb(191, 191, 218);
}


.TsCountD h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 3% 10%;
    height: 60%;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    padding-top: 3%;

}


.TsCountT {
    border: 1px solid rgb(204, 11, 11);
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: black;
    box-shadow: 1px 1px 36px 2px rgb(191, 191, 218);
}

.TsCountT h3 {
    margin: 2% 10%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    height: 50%;
    border-radius: 10px;
    padding-top: 3%;
}

/* 




 */