.topButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topButton div {
    width: 20%;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    background-color: green;
    cursor: pointer;
    transition: all 3s;
}

.topButton div:hover {
    background-color: red;
    color: rgb(255, 231, 231);
}

.snackBar {
    border: 1px solid black;
    width: 8%;
    padding: 2px;
    font-size: 15px;
    position: absolute;
    top: 11%;
    border-radius: 5px;
    height: 20px;
    background-color: rgb(28, 7, 48);
    color: white;
}

.snackBar p {
    padding: 0;
    margin: 0;
}

.amountHeader {
    display: grid;
    grid-template-columns: 13% 39% 12% 12% 12% 12%;
}

.amountHeader div {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.amountHeader div p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.amountData {
    display: grid;
    grid-template-columns: 13% 39% 12% 12% 12% 12%;
}

.amountData div {
    border: 1px solid white;
    background-color: #404258;
    color: white;
}

.amountData div p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 15px;

}

.netamountBar {
    position: fixed;
    top: 11%;
    right: 5%;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.netamountBar p {
    margin: 0;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
}