.loginContainer {
    background: radial-gradient(#ffffff, #ffffff);
    height: 100%;
    width: 100%;
    padding: 1.9% 0;
    text-align: center;
}


.login-style {
    height: 550px;
    width: 600px;
    margin-left: 8%;
    padding-left: 4%;
}

.loginContainer p {
    text-transform: capitalize;
    margin-top: -2%;
    font-size: 20px;
    margin-left: 2%;
}

.form-section {
    width: 70%;
    height: 350px;
    margin-top: 5%;
    padding-top: 5%;

}

.secondPart {
    width: 90%;
    height: 500px;
    background-image: url('../../photos/borno\ logo.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: .9;
    margin-left: 0;
    margin-top: 1%;
}

.form-section {

    width: 83%;
}

.form-section input[type='text'],
[type='password'] {
    width: 400px;
    height: 40px;
    margin-top: 3px;
    border-radius: 5px;
}

.form-section input:focus {
    background-color: rgba(0, 128, 0, .5);
}

.form-section button {
    background-color: rgb(62, 55, 172);
    font-weight: 500;
    height: 50px;
    width: 410px;
    margin-top: 8px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.login-container {
    display: grid;
    grid-template-columns: auto auto;


}

.login-style img {
    height: 100%;
    width: 100%;
}

.loginContainer h1 {
    font-size: 55px;
    margin-top: -4px;
    color: green;
    text-shadow: 1px 1px 5px rgb(175, 25, 25);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.btn-group {
    width: 100%;
    margin-top: 8%;
    margin-left: -8%;
}

.btn-group button {
    border: none;
    height: 50px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin: 1px;
    cursor: pointer;

}

.btn-group button:nth-child(1) {
    background-color: green;
    color: white;
}

.btn-group button:nth-child(2):hover {
    background-color: rgb(46, 150, 46);
    color: white;
    border: 2px solid black;
    transition: all .5s;

}

.btn-group button:nth-child(1):hover {
    background-color: rgb(46, 150, 46);
    color: white;
    border: 2px solid black;
    transition: all .5s;

}

.btn-group button:nth-child(2) {
    background-color: red;
    color: white;
}